{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load uni_form_tags %}

{% block body_class %}object_list{% endblock %}

{% block extra_head %}
<script>
  var object_type = '{{type|lower}}';
  var {{type|lower}}_object_list = l_o_l = [ {% for r in objects.object_list.reverse %}
{{r.to_json|safe}}, {% endfor %} ]
  object_list = {}
  object_list.{{type|lower}} = l_o_l;
  console.debug(object_list)
</script>
{% endblock %}

{% block body %}

<h2>
{% if not header %}
{{type}}
{% else %}
{{ header }}
{% endif %}
</h2>

{% if subheader %}
<small>{{subheader}}</small>
{% endif %}

{% if add_link %}
<div class="ajax new_{{type}} button" href="{{add_link}}">
    {% if not add_link_text %}
      Create new {{type|lower}}
    {% else %}
      {{add_link_text}}
    {% endif %}
  </div>
{% endif %}
<div class="{{type|lower}} object_list">
</div>
{% endblock %}
