{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block extra_head %}
<script>
var object_list = [ {% for r in objects.object_list.reverse %}
{{r.to_json|safe}}, {% endfor %} ]
</script>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    
<h1>{% trans "No BS, just get started" %}</h1>
<div class="new_rule">
  <a class="hide_link" id="new_rule" href="/create_route">Create a new rule</a>
</div>

<div class="object_list">
</div>


{% endblock %}
