#tabhead .logo img {
  height: 84px;
  width: 321px;
}
.hidden, .unhidable { display: none }
.formRow .ctrlHolder { display: inline-block; }
.ctrlHolder.error { border: red 1px dotted; background: #FEE;}
.formRow .ctrlHolder input { width: 90% }
.ctrlHolder { padding: 8px; }

h1,h2,h3 { font-family: 'Expletus Sans', arial, serif; }

.ruleset {
  border: 3px solid #aaa;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ddd;
  padding: 4px;
  margin-top: 8px;
}

span.stats {
  float: right;
  margin-right: 5px;
}
a.details_dropdown {
  float: right;
}
.ruleset .name {
  display: inline-block;
  width: 100px;
}
span.url {
}
