$blueprint-grid-columns : 24;
$blueprint-grid-width   : 30px;
$blueprint-grid-margin  : 10px;
$font-color             : #333;

@mixin border-radius($x: 5px) {
  -moz-border-radius: $x;
  -webkit-border-radius: $x;
  -o-border-radius: $x;
  -ms-border-radius: $x;
  -khtml-border-radius: $x;
  border-radius: $x;
}
@mixin linear-gradient($color-stops, $start: top, $image: false) {
  // Firefox's gradient api is nice.
  // Webkit's gradient api sucks -- hence these backflips:
  $background: unquote("");
  @if $image {
    $background: $image + unquote(", "); }
  $start: unquote($start);
  $end: opposite-position($start);
  background-image: #{$background}-webkit-gradient(linear, grad-point($start), grad-point($end), grad-color-stops($color-stops)); 
  background-image: #{$background}-moz-linear-gradient($start, $color-stops);
  background-image: #{$background}linear-gradient($start, $color-stops);
}


