// COMMON STUFF //
@import "base";
.hidden, .unhidable { display: none }

// OBJECT STUFF //
.object_row {
  border: 3px solid #aaa;
  @include border-radius;
  padding: 4px;
  margin-top: 8px;
  span.name { 
    width: 150px;
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
    text-shadow: 1px 1px solid #000;
  }
}
  .ui-widget-header a.delete{ 
    float: right;
    color: lighten(red, 10%);
  }
  a.delete:hover { color: black }

// FORM STUFF //
.ctrlHolder { padding: 8px; }
.ctrlHolder.error { border: red 1px dotted; background: #FEE;}
.formRow .ctrlHolder { 
  display: inline-block;
  input { width: 90% }
}

.uniForm fieldset {
  border: thin dashed gray;
  margin: 10px;
  padding: 10px;
}
.formRow li {
  display: inline-block;
  width: 130px;
  vertical-align: top;
}
.formRow li select {
  width: 115px;
}
