#tabhead .logo img {
  height: 84px;
  width: 321px;
}

h1,h2,h3 { font-family: 'Expletus Sans', arial, serif; }

span.stats {
  float: right;
  margin-right: 5px;
}
.ruleset .name {
  display: inline-block;
  width: 100px;
}
span.url {
}
