#tabhead .logo img {
  height: 84px;
  width: 321px;
}

h1, h2, h3 {
  font-family: 'Expletus Sans', arial, serif;
}

span.stats {
  float: right;
  margin-right: 5px;
}

.ruleset .name {
  display: inline-block;
  width: 100px;
}


.hidden, .unhidable {
  display: none;
}

.object_row {
  border: 3px solid #aaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 4px;
  margin-top: 8px;
}
.object_row span.name {
  width: 150px;
  padding: 10px;
  font-size: 1.1em;
  font-weight: bold;
  text-shadow: 1px 1px solid #000;
}

.ui-widget-header a.delete {
  float: right;
  color: #ff3333;
}

a.delete:hover {
  color: black;
}

.ctrlHolder {
  padding: 8px;
}

.ctrlHolder.error {
  border: red 1px dotted;
  background: #FEE;
}

.formRow .ctrlHolder {
  display: inline-block;
}
.formRow .ctrlHolder input {
  width: 90%;
}

.uniForm fieldset {
  border: thin dashed gray;
  margin: 10px;
  padding: 10px;
}

.formRow li {
  display: inline-block;
  width: 130px;
  vertical-align: top;
}

.formRow li select {
  width: 115px;
}
